.background {
   background: #24437F !important;
}

.background_second {
   background: #FCB040;
}


.max-content{
   max-width:1280px;
   margin-left:auto;
   margin-right:auto;
}

li {
   list-style: none;
}

.nav__link:hover{
   color:#FCB040;
}

.nav__link2:hover{
   color:white !important;
}

/* .nav__link2{
   color:white !important;
} */
.active{
   color: !important;
}


.transition{
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
   transition: box-shadow 0.3s ease; /* Thêm transition cho hiệu ứng mềm mại */
}
 
.transition:hover {
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Thay đổi box-shadow khi hover */
}
/* Hide the sub-menu by default */
.sub-menu {
   display: none;
   width:250px;
   position: absolute;
   top: 145%; 
   left: 15px; 
   z-index: 9999 !important; 
 }
 
 /* Show the sub-menu when hovering over the parent div */
 .menu:hover .sub-menu {
   display: flex;
 }

.sub-submenu{ 
   display: none;
   color:white !important;
   background:#FCB040 !important;
   width:300px !important;
   position: absolute;
   top: -8px; 
   left: 100.5%; 
   z-index: 999 !important; 
}

 .sub-menu-current:hover .sub-submenu{
   display: flex;
 }


 /* CSS cho mobile */
@media only screen and (max-width: 768px) {
   .sub-menu {
      display: none;
      width:265px;
      position: absolute;
      top: 110%; 
      left: 0px; 
      z-index: 1000; 
    }
    
    /* Show the sub-menu when hovering over the parent div */
    .menu:hover .sub-menu {
      display: flex;
    }
   
   .sub-submenu{ 
      display: none;
      width:300px;
      position: absolute;
      top: -10px; 
      left: 101%; 
      z-index: 999; 
   }
   
    .sub-menu-current:hover .sub-submenu{
      display: flex;
    }
  
  }


 
